<!-- loading indicator -->
<mat-spinner *ngIf="!data; else invoiceCalculator"></mat-spinner>

<!-- layout -->
<ng-template #invoiceCalculator>
  <!-- TODO: button container should be converted into reusable one item layout -->
  <div class="container submit-button-container">
    <div class="row" *ngIf="showDetailsButtonVisible">
      <div class="col d-flex justify-content-end">
        <button
          mat-raised-button
          color="primary"
          (click)="showCustomerDetails()"
        >
          Show Customer Details
        </button>
      </div>
    </div>
  </div>

  <app-layout-items-2
    #layoutItems2
    class="container"
    [itemOneColClasses]="itemOneColClasses"
    [itemTwoColClasses]="itemTwoColClasses"
  >
    <ng-template #itemOne>
      <ng-container
        [ngTemplateOutlet]="firstItem"
        [ngTemplateOutletContext]="{ data: data }"
      ></ng-container>
    </ng-template>
    <ng-template #itemTwo>
      <ng-container
        [ngTemplateOutlet]="secondItem"
        [ngTemplateOutletContext]="{ data: data }"
      ></ng-container>
    </ng-template>
  </app-layout-items-2>
</ng-template>

<!-- components -->
<ng-template #firstItem let-apiPath="apiPath">
  <app-data-table
    #dataTable
    (itemSelected)="toggleFormButton($event)"
    [data]="data"
  ></app-data-table>
</ng-template>

<ng-template #secondItem>
  <app-date-picker *ngIf="!detailsVisible"></app-date-picker>

  <!-- TODO create order details component -->
  <mat-card *ngIf="detailsVisible" class="row">
    <div class="col-12">Date range: {{ orderDetails.dateRange }}</div>
    <div class="col-12">Number of days: {{ orderDetails.numberOfDays }}</div>
    <div class="col-12">
      Number of orders: {{ orderDetails.numberOfOrders }}
    </div>
    <div class="col-12">
      Total amount to invoice: {{ orderDetails.totalAmountToInvoice }}
    </div>
  </mat-card>
</ng-template>
