:host {
  .data-table,
  .mat-form-field {
    width: 100%;
  }
  .data-table {
    tr {
      height: 80px;
      td {
        cursor: pointer;
      }
      &.selected {
        background: #3f51b5;
        td {
          color: white;
        }
      }
    }
  }
}
