@import 'index';

:host {
  display: block;
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    height: $headerMobileHeight;
    @include media-breakpoint-up(lg) {
      height: $headerHeight;
    }
  }

  .header-right {
    display: flex;
  }
}
